<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBP-H0s2q4l8DEaALynYlvu4fDD7sbwKHE</string>
	<key>GCM_SENDER_ID</key>
	<string>388015310398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KHEasyDev.easyBirthday</string>
	<key>PROJECT_ID</key>
	<string>easybirthday-67eec</string>
	<key>STORAGE_BUCKET</key>
	<string>easybirthday-67eec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388015310398:ios:3fd3313da6c7d098a3b36f</string>
</dict>
</plist>